 .face {
     border-radius: 30px;
     border: 1px solid #ddd;
     width: 48px;
     margin: 16px;
 }
 .radius {
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     <span> </span>border-radius: 10px;
     background-color: yellow;

 }
 .triangle {
     height: 0px;
     width: 0px;
     border-width: 20px;
     border-style: solid;
     border-color: green transparent transparent transparent;
 }
 .left:before {
     position: absolute;
     content: "\00a0";
     width: 0px;
     height: 0px;
     border-width: 8px 18px 8px 0;
     border-style: solid;
     border-color: transparent #A6DADC transparent transparent;
     top: 15px;
     left: -18px;
 }
 .right:before {
     position: absolute;
     content: "\00a0";
     display: inline-block;
     width: 0px;
     height: 0px;
     border-width: 8px 0px 8px 18px;
     border-style: solid;
     border-color: transparent transparent transparent #A6DADC;
     left: 250px;
     top: 15px;
 }

 .org_box{
    height:80px;
    line-height:80px; 
    margin-bottom:30px; 
    padding-left:2em;
    background:#F3961C; 
    position:relative; 
}
.org_bot_cor{
    width:0; 
    height:0; 
    font-size:0; 
    border-width:15px; 
    border-style:solid; 
    border-color:#f3961c transparent transparent; 
    _border-color:#f3961c white white; 
    overflow:hidden; 
    position:absolute; 
    left:60px; 
    bottom:-30px;
}
