<section data-ng-controller="HomeController">


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/homeimg/introduction/intro1.jpg" alt="First slide">
                <div class="container">
                    <!--  <div class="carousel-caption">
              <h1>XCourse</h1>
              <p>Great app to help you get course information quickly and conveniently</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div> -->
                </div>
            </div>
            <div class="item">
                <img src="images/homeimg/introduction/intro2.jpg" alt="Second slide">
                <div class="container">
                    <!--  <div class="carousel-caption">
              <h1>XCourse</h1>
              <p>Keep you in touch with your friends and professors</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Know more</a></p>
            </div> -->
                </div>
            </div>
            <div class="item">
                <img src="images/homeimg/introduction/intro3.png" alt="Third slide">
                <div class="container">
                    <!-- <div class="carousel-caption">
              <h1>XCourse</h1>
              <p>other wonderful functions are coming</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">what's new?</a></p>
            </div> -->
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Find your <span class="text-muted">language partner</span> all over the world</h2>
            <p class="lead"></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/homeimg/introduction/intro1.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/homeimg/introduction/intro2.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Communicate with<span class="text-muted"> Text, Voice and Video</span></h2>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted">Group</span> Chatting</h2>

        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="images/homeimg/introduction/intro3.png" alt="Generic placeholder image">
        </div>
    </div>
    <a name="teamInfo"></a>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <div  class="container marketing">

        <h2 class="featurette-heading" align="center">Team &nbsp Member</h2>
        <br />
        <br />
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle imgsize" src="images/homeimg/head/zixingliu.png" alt="Generic placeholder image">
                <h2>Zixing LIU</h2>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle imgsize" src="images/homeimg/head/qianchen.png" alt="Generic placeholder image">
                <h2>Chen QIAN</h2>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle imgsize" src="images/homeimg/head/xiaohumo.png" alt="Generic placeholder image">
                <h2>Xiaohu MO</h2>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <div  class="row">
            <div class="col-lg-4" >
                <img class="img-circle imgsize "  src="images/homeimg/head/guochao.png" alt="Generic placeholder image">
                <h2>GuoChao LIANG</h2>
            </div>
            <div class="col-lg-4">
                <img class="img-circle imgsize" src="images/homeimg/head/zixingliu.png" alt="Generic placeholder image">
                <h2>Junyi GU</h2>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    </div>
    <!-- /.container -->

    <div class="carousel slide">
        <div class="carousel-inner-bottom">
            <div class="item active" id="margin_height_500px">
                <img src="images/homeimg/other/bottom_color.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <img src="images/homeimg/other/tower.png">
                        <div>
                            <p id="love_in_paris_fond">Crafted with love in Paris,France</p>
                            <p id="love_in_paris_fond">by the <a id="XCourse_team_fond" href="#teamInfo">LANX Team</a>
                            </p>
                        </div>
                        <a href="#">
                            <h3>Send Us a Message</h3>
                        </a>
                    </div>
                </div>

                <div class="col-md-12 text-center" id="margin_height_680px">
                    <p>©2014 XCourse. All Rights Reserved.</p>
                </div>
                <!-- End Column 12 -->

            </div>
        </div>
    </div>



</section>
