<div layout="column" ng-controller="GroupCtrl">

</div>
<div layout="row">
    <md-sidenav layout="column" class="md-whiteframe-z1" md-component-id="left" md-is-locked-open="$media('gt-sm')">

        <div ng-controller="GroupCtrl">
            <md-content>
                <md-list>
                    <md-item  ui-sref-active="selected" ng-repeat="group in groups">
                        <md-item-content ui-sref="main.groups.detail({id: group.id})">
                            <div class="md-tile-left">
                                <img ng-src="{{group.groupface}}" class="face" alt="{{group.groupname}}">
                            </div>
                            <div class="md-tile-content" style="text-align:left">
                                <h3>{{group.groupname}}</h3>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>
    </md-sidenav>


    <div layout="column" flex md-theme="green" id="content">
        <div layout="row" md-theme="green" class="md-whiteframe-z1 fullheight">

            <div style="width:100%" ui-view></div>
        </div>

    </div>


