<div class="row members-container">
    <div class="column">
        <P class=" groupname">{{selectedGroup.groupname}}</P>
    </div>
    <div class="column"></div>
    <div class="image-inline">
        <img class="imagesize" ng-src="{{selectedGroup.groupface}}" />
    </div>
</div>

<div class="row members-container">
    <div>
        <div>
            <md-checkbox> Receive Notifications</md-checkbox>
        </div>

        <div>
            <md-checkbox> Show Message Count</md-checkbox>
        </div>

        <div>
            <md-checkbox> Block Messages</md-checkbox>
        </div>


    </div>

</div>
