<div class="friend-container">

    <div class="row">
        <div class="column">
            <div>
                <img class="imgsize" src="{{selectedItem.face}}" />
            </div>
        </div>
        <div class="column">
            <div class="friendname">
                <h1>{{selectedItem.who}}</h1>
            </div>
            <div>
                <span class="grey">Info :</span> {{selectedItem.info}}
            </div>
            <div>
                <span class="grey">Occupation :</span> {{selectedItem.occupation}}
            </div>
            <div>
                <span class="grey">Birthday :</span> {{selectedItem.birthday}}
            </div>
            <div>
                <span class="grey">Location :</span> {{selectedItem.location}}
            </div>
            <div>
                <span class="grey"> hometown :</span> {{selectedItem.hometown}}
            </div>
            <div>
                <span class="grey">Email :</span> {{selectedItem.email}}
            </div>
            <div>
                <span class="grey">Mobile :</span> {{selectedItem.mobile}}
            </div>
            <div>
                <span class="grey">Description :</span> {{selectedItem.description}}
            </div>
        </div>

    </div>






</div>
</div>
</div>
